[submodule "themes/introduction"]
	path = themes/introduction
	url = https://github.com/victoriadrake/hugo-theme-introduction
[submodule "themes/hugo-calendly-shortcode"]
	path = themes/hugo-calendly-shortcode
	url = https://github.com/bespokesy/hugo-calendly-shortcode
