name: github pages

on:
  push:
    branches:
      - main

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@main
        with:
          submodules: true
      
      - name: install nodejs
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
      
      - name: install npm tools
        run: npm i -g postcss postcss-cli autoprefixer
      
      - name: build and deploy
        uses: benmatselby/hugo-deploy-gh-pages@main
        env:
          CNAME: mihaiplesa.com
          HUGO_EXTENDED: true
          TARGET_REPO: mihaiplesa/mihaiplesa.com
          TOKEN: ${{ secrets.PERSONAL_TOKEN }}
