name: github pages

on:
  push:
    branches:
      - main

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true
      
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
      
      - name: Install PostCSS tools
        run: npm i -g postcss postcss-cli autoprefixer
      
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v4
        with:
          hugo-version: latest
          extended: true
      
      - name: Build
        run: hugo --minify
      
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        if: github.ref == 'refs/heads/main'
        with:
          github_token: ${{ secrets.PERSONAL_TOKEN }}
          publish_dir: ./public
          cname: mihaiplesa.com
